@import url('//fonts.googleapis.com/css?family=Roboto+Mono');

html, body {
  font: 14px 'Helvetica Neue', arial, sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  margin: 0;
}

body {
  color: #efefef;
}

h1 {
	text-align: center;
}

small, p, span {
  vertical-align: top;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  line-height: 1.5rem;
  height: 1.8rem;
  padding: 0 1rem;
  margin: 0 2px;
}

.hidden {
  display: none;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #19242e;
}

::-webkit-scrollbar
{
  width: 6px;
  height: 6px;
	background-color: #19242e;
}
::-webkit-scrollbar-thumb
{
  background-color: #1e606b;
}

.abs-container {
  position: absolute;
}

button, .button {
  background-color: #19242e;
  border-color: #19242e;
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
  border-color: #1e606b;
  height: 2.2rem;
  color: #efefef;
  padding: 0 1.0rem;
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
  border-color: #1e606b;
}

.mb {
  margin-bottom: 5px;
}

/* range slider */

.range-slider {
  width: 100%;
}

.range-slider__range {
  -webkit-appearance: none;
  width: calc(100% - (73px));
  height: 10px;
  border-radius: 5px;
  background: #d7dcdf;
  outline: none;
  padding: 0;
  margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #19242e;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-webkit-slider-thumb:hover {
  background: #1e606b;
}
.range-slider__range:active::-webkit-slider-thumb {
  background: #1e606b;
}
.range-slider__range::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border: 0;
  border-radius: 50%;
  background: #19242e;
  cursor: pointer;
  transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb:hover {
  background: #1e606b;
}
.range-slider__range:active::-moz-range-thumb {
  background: #1e606b;
}
.range-slider__range:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1e606b;
}

.range-slider__value {
  display: inline-block;
  position: relative;
  width: 60px;
  color: #fff;
  line-height: 20px;
  text-align: center;
  border-radius: 3px;
  background: #19242e;
  padding: 5px 10px;
  margin-left: 8px;
}
.range-slider__value:after {
  position: absolute;
  top: 8px;
  left: -7px;
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 7px solid #19242e;
  border-bottom: 7px solid transparent;
  content: '';
}

::-moz-range-track {
  background: #d7dcdf;
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}


/* end slider */

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 32px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}


fieldset, input, select, textarea {
  margin-bottom: 0;
}

button, .button {
  border-radius: 0;
  font-family: 'Roboto Mono', monospace;
}

select {
  font-family: 'Roboto Mono', monospace;
}

select option {
  color: #19242e;
}

.switch {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
  margin-bottom: 0;
  vertical-align: middle;
  margin-left: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}


input:checked + .slider {
  background-color: #19242e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #19242e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  -ms-transform: translateX(24px);
  transform: translateX(24px);
}

.panel  {
  width: 600px;
  max-width: 100%;
  margin: auto;
  margin-top: 50px;
  /* box-shadow: 0 0 4px 0 rgba(255, 255, 255, 0.2); */
  padding: 5px;
  border: 6px solid #1e606b;
  /* background: #666; */
  border-radius: 4px;
}

.panel::after {
  content: "";
  display: block;
  clear: both;
}

.block-outer {
  width: 24.99%;
  float: left;
  position: relative;
  padding-top: 25%;
  background: #19242e;
  cursor: pointer;
}

.block-inner {
  position: absolute;
  left: 50%; top: 50%;
  transform: translate(-50%, -50%);
  color: #efefef;
  text-align: center;
}

