

.atc-view-svg {
    float: left;
    display: block;
}

.atc-view-svg span {
    color: #ccc;
}

svg g.airplane.airplane-active tspan {
  font-weight: 900;
}

svg.atc-view-svg {
  padding: 10px;
  padding-right: 45px;
}

@media screen and (min-width: 2000px) {
  svg.atc-view-svg {
    padding: 30px;
  }
}

input.direct-to-input::placeholder {
  color: #1e606b;
}

input.direct-to-input.invalid {
  color: rgb(246, 209, 42);
}

input.direct-to-input.invalid::placeholder {
  color: rgb(158, 133, 23);
}

.traffic-control input,
.traffic-control select {
  padding: 2px;
  height: 1.8em;
}

.atc-view .scores {
  padding: 4px 0 0 4px;
  color: #fff;
  pointer-events: none;
  user-select: none;
  font-size: .8em;
  opacity: .6;
}

.atc-view .settings-panel {
  position: absolute;
  top: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  max-width: 100%;
  background: rgb(25, 72, 80);
  border: 5px solid #1e606b;
  padding: 10px;
  max-height: 95vh;
  overflow-y: auto;
}

.atc-view .settings-panel h5 {
  text-align: center;
  margin-bottom: 0;
}

.atc-view .settings-panel hr {
  margin: 7px 0;
}

.atc-view .logs-panel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 600px;
  max-width: 100%;
  background: rgb(25, 72, 80);
  border: 5px solid #1e606b;
  padding: 10px;
  max-height: 90vh;
  overflow-y: auto;
}

.atc-view .about-panel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 700px;
  max-width: 80%;
  background: rgb(25, 72, 80);
  border: 5px solid #1e606b;
  padding: 10px;
  max-height: 90vh;
  overflow-y: auto;
}

.atc-view .about-panel .rwyusage {
  position: relative;
}

.atc-view .about-panel select {
  width: auto;
  height: 22px;
}

.atc-view .about-panel li {
  margin-bottom: 0;
}

.atc-view .logs-container {
  height: 300px;
  border: 2px solid #1e606b;
  overflow: hidden;
  position: relative;
}

.atc-view .logs-inner {
  position: absolute;
  bottom: 0; left: 0; right: 0;
  padding: 3px;
  min-height: 100%;
}

.atc-view .atc-view-buttons {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
}

.traffic-control {
  height: 210px;
}

.atc-view .w-100 { 
  margin: 0;
  width: 100%; 
  text-align: left;
}
.atc-view .w-50 { 
  text-align: left;
  margin: 0;
  display: block;
  float: left;
  width: 49.9%; 
}

.atc-view .airplane-traffic-stack-info-btn,
.atc-view .question-mark-btn {
  display: block;
  float: right;
  height: 20px;
  width: 20px;
  line-height: 2px;
  text-align: center;
  padding: 8px 12px 8px 5px;
  margin: 2px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-radius: 100%;
}

.atc-view .airplane-info-panel {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 600px;
  max-width: 80%;
  background: rgb(25, 72, 80);
  border: 5px solid #1e606b;
  padding: 10px;
  max-height: 90vh;
  overflow-y: auto;
}

.atc-view .airplane-info-panel h5 {
  margin-bottom: 0;
}

.atc-view .airplane-info-panel hr {
  margin: 7px 0;
}

.atc-view .wind {
  line-height: 20px;
  margin-top: -3px;
}

.atc-view .tutorials-btn-wrapper {
  position: absolute;
  top: 40px;
  left: 40px;
  overflow: hidden;
  background: #1e606b;
}

.atc-view .tutorials-btn {
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

.atc-view .tutorials-btn small {
  font-size: 0.6em;
}

.atc-view .tutorials-btn-wrapper-close {
  font-size: 40px;
  line-height: 30px;
  display: inline-block;
  vertical-align: middle;
  margin: -3px 0 0 0;
  padding: 0 6px 0 8px;
  cursor: pointer;
}

