.traffic-stack-wrapper {
  width: 250px;
  background: #19242e;
  color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px;
  overflow-y: auto;
}

.traffic-stack-wrapper input,
  {
  color: #fff;
  margin-bottom: 5px;
}

.traffic-stack-wrapper select {
  height: 1.8em;
  padding: 0 2px;
  color: #000;
  background: #fff;
}

.traffic-stack-entry {
  transition: all 0.2s ease;
  margin-bottom: 3px;
}

.traffic-stack-entry::after {
  content: "";
  display: block;
  clear: both;
}

.traffic-stack-entry:hover,
.traffic-stack-entry.traffic-active {
  transform: translateX(5px);
}

.traffic-stack-entry.inbound {
  background: #99f;
}

.traffic-stack-entry.outbound {
  background: #696;
}

.traffic-stack-entry.enroute {
  background: rgb(179, 179, 87);
}

.traffic-stack-entry.vfr-closed-pattern-touch-and-go,
.traffic-stack-entry.vfr-outbound,
.traffic-stack-entry.vfr-enroute,
.traffic-stack-entry.vfr-inbound,
.traffic-stack-entry.vfr-inbound-touch-and-go,
.traffic-stack-entry.vfr-inbound-full-stop,
.traffic-stack-entry.vfr-closed-pattern-full-stop {
  background: rgb(194, 135, 80);
}

.traffic-stack {
  padding: 3px;
  background: #1e606b;
  height: calc(100% - 360px);
  overflow: auto;
  overflow-x: hidden;
  transition: height 200ms ease;
}

.traffic-stack::-webkit-scrollbar-thumb {
  background-color: rgb(25, 72, 80);
}

