
.TimelapseRecorder .game-speed {
  display: block;
  position: absolute;
  bottom: 0;
  left: 20px;
  font-size: 12px;
}

.TimelapseRecorder .timelapse {
  padding: 0 20px 30px 20px;
  background-color: #19242e;
  overflow: hidden;
  position: relative;
}

.TimelapseRecorder .timelapse h5 {
  margin: 10px 0;
}

.TimelapseRecorder .timelapse .timelapse.reset {
  animation: reset 1s ease-in-out;
}

.TimelapseRecorder .timelapse button {
  appearance: none;
  width: 40px;
  height: 40px;  
  border-radius: 50%;
  color: #19242e;
  font-size: 30px;
  padding: 0;
  display: inline-block;
  margin-right: 5px;
  vertical-align: top;
  background-color: #ccc;
}

.TimelapseRecorder .timelapse .timelapse-start {
  background: #0f0;
}

.TimelapseRecorder .timelapse .timelapse-stop {
  background: #f00;
}

.TimelapseRecorder .timelapse .timelapse-reset {
  padding-left: 1px;
  padding-bottom: 2px;
}

.TimelapseRecorder .timelapse .timelapse-share svg {
  margin-left: -2px;
}

.TimelapseRecorder .timelapse .timelapse-play {
  float: right;
  display: block;
  background: #0f0;
}

.TimelapseRecorder .timelapse .timelapse-play svg {
  margin-left: 3px;
}


