
.Settings {
    
}

.settings .ColorInput input[type="color"] {
  float: right;
  margin-bottom: 5px;
}

.settings .ColorInput {
  clear: both;
}

.settings .SwitchInput label {
  float: right;
  display: block;
  margin-bottom: 5px;
}

.settings .SwitchInput {
  clear: both;
}

.settings input[type=color] {
  float: right;
}

.settings button {
  margin-bottom: 10px;
}